# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [101]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [102]:
vacation_weather_for_cities_df = pd.read_csv('../output_data/weather_for_cities.csv')
vacation_weather_for_cities_df = vacation_weather_for_cities_df.rename(columns={"Unnamed: 0":""})
vacation_weather_for_cities_df

,,City,Lat.,Lon.,Max. Temp.,Humidity,Cloudiness,Windspeed,Country,Date
0,0,East London,-33.0153,27.9116,66.20,72,0,11.50,ZA,1618678922
1,1,Albany,42.6001,-73.9662,50.00,56,98,6.44,US,1618678757
2,2,Yanam,16.7333,82.2167,86.00,66,0,6.91,IN,1618678922
3,3,Bredasdorp,-34.5322,20.0403,64.40,77,24,5.75,ZA,1618678923
4,4,Ponta do Sol,32.6667,-17.1000,68.00,53,83,5.99,PT,1618678923
...,...,...,...,...,...,...,...,...,...,...
523,579,Praia,14.9215,-23.5087,75.20,64,20,21.85,CV,1618679099
524,580,San Ramon,37.7799,-121.9780,64.00,71,40,2.42,US,1618679099
525,581,Banda Aceh,5.5577,95.3222,80.19,78,51,5.61,ID,1618678867
526,583,Pemba,-12.9740,40.5178,80.60,78,40,18.41,MZ,1618679100
527,584,Alappuzha,9.4900,76.3264,82.67,76,100,3.31,IN,1618679100

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [230]:
# configure API key access
gmaps.configure(api_key=g_key)

In [231]:
fig = gmaps.figure()

locations = vacation_weather_for_cities_df[['Lat.', 'Lon.']]
weights = vacation_weather_for_cities_df['Humidity']
heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False, max_intensity=350,
                                 point_radius = 5.5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [232]:
preferred_vacation_locations_df = vacation_weather_for_cities_df.loc[(vacation_weather_for_cities_df['Max. Temp.']>70)&(vacation_weather_for_cities_df['Max. Temp.']<80)&(vacation_weather_for_cities_df['Windspeed']<10)&(vacation_weather_for_cities_df['Cloudiness']==0)]
preferred_vacation_locations_df = preferred_vacation_locations_df.dropna(how='any')
preferred_vacation_locations_df

,,City,Lat.,Lon.,Max. Temp.,Humidity,Cloudiness,Windspeed,Country,Date
180,204,Noumea,-22.2763,166.4572,75.0,100,0,2.30,NC,1618678805
191,216,Pisco,-13.7000,-76.2167,72.0,73,0,9.22,PE,1618678987
393,435,Rivadavia,-33.1905,-68.4608,75.2,43,0,6.91,AR,1618678819
439,490,Haifa,32.8156,34.9892,73.4,56,0,1.14,IL,1618679069

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [293]:
# set parameters
preferred_locations = preferred_vacation_locations_df[['Lat.', 'Lon.']]
within_number_of_meters_from_preferred_locations = 5000
search_for = "hotel"
hotel_lat = ()
hotel_lon = ()
hotel_city = ()
hotel_country = ()
hotel_df = pd.DataFrame([])
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# function to define a parameters dictionary
def query_function(location):
    query_location = f"{preferred_locations.iloc[location]['Lat.']}, {preferred_locations.iloc[location]['Lon.']}"
    params = {"location": query_location,"radius": within_number_of_meters_from_preferred_locations,"keyword": search_for,"key": g_key}
    hotel_lat = preferred_locations.iloc[location]['Lat.']
    hotel_lon = preferred_locations.iloc[location]['Lon.']
    hotel_city = preferred_vacation_locations_df.iloc[location]['City']
    hotel_country = preferred_vacation_locations_df.iloc[location]['Country']
    return(query_location, params, hotel_lat, hotel_lon, hotel_city, hotel_country)

for location in range(len(preferred_locations)):
    try:
        response = requests.get(base_url, params=query_function(location)[1])
        preferred_hotel = response.json()
        hotel_df = hotel_df.append(pd.DataFrame([[query_function(location)[5],query_function(location)[4],query_function(location)[2],query_function(location)[3], preferred_hotel["results"][0]["vicinity"],preferred_hotel["results"][0]["name"]]], columns=['Country','City', 'Lat', 'Lng', 'Address for Nearby Hotel','Hotel Name'],index=[location]))
    except:
        print(f"no hotel(s) found near coordinate location: {query_function(location)[0]}")

hotel_df

,Country,City,Lat,Lng,Address for Nearby Hotel,Hotel Name
0,NC,Noumea,-22.2763,166.4572,"149 route de l'Anse Vata, NoumÃ©a",HÃ´tel Le Lagon
1,PE,Pisco,-13.7000,-76.2167,"Francisco Bolognesi 159, Pisco",Hostal Tambo Colorado
2,AR,Rivadavia,-33.1905,-68.4608,"Sarmiento 14, Rivadavia",Hotel Pasambay
3,IL,Haifa,32.8156,34.9892,"Hassan Shuqri St 7, Haifa",Bay Club Hotel

In [303]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [304]:
# Add marker layer ontop of heat map
preferred_location_markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(preferred_location_markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))